In [1]:
import numpy as np
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df= pd.read_csv('Downloads/dataset_group.csv')

In [3]:
df.head()

         Date  Order_id        Product
0  2018-01-01         1         yogurt
1  2018-01-01         1           pork
2  2018-01-01         1  sandwich bags
3  2018-01-01         1     lunch meat
4  2018-01-01         1   all- purpose

In [4]:
df.tail()

             Date  Order_id            Product
20636  2020-02-25      1138               soda
20637  2020-02-25      1138       paper towels
20638  2020-02-26      1139               soda
20639  2020-02-26      1139  laundry detergent
20640  2020-02-26      1139            shampoo

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20641 entries, 0 to 20640
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      20641 non-null  object
 1   Order_id  20641 non-null  int64
 2   Product   20641 non-null  object
dtypes: int64(1), object(2)
memory usage: 483.9+ KB

In [6]:
df.isnull().sum()

Date        0
Order_id    0
Product     0
dtype: int64

In [7]:
df.shape

(20641, 3)

In [8]:
df.describe(include='object').T

         count unique         top freq
Date     20641    603  2019-02-08  183
Product  20641     37     poultry  640